.row {
    padding: 10px;  
    background-color:orange ;
    border: 2px solid black;
    /* margin-right: 200px; */

}
.row div {
    height: 500px;
    border: 2px solid black;
    width: 250px;
    display: inline-block;
    margin: 40px 30px 40px 30px;
}

#column1 {
   background-color: red ; 
}

#column1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

#column2 {
    background-color: green ; 
    height: 50vh;
 }

 #column2 h1 {
     font-size: 30pt;
 }


 #column3 {
    background-color: blue ; 
    width: 15%;
}

#column3 h1 {
    font-size: 6em;
}

    
#column4 {
    background-color: purple ; 
    margin: 20px;
    width: 10vw;
 }